.main-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
  }
  
  .header-bar {
    width: 100%;
    height: 13%;
    /* border-bottom: 5px solid red; */
    background-color: rgba(32, 25, 25, 0.7);
    color: #fff;
    z-index: 90;
    right: 10em;
    margin-right: 10rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-grow: 0;
    align-items: center;
    justify-content: flex-end;
  }
  
  .header-bar a {
    color: #fff;
    font-size: 5px;
    font-weight: lighter;
    letter-spacing: 5px;
    margin: 0.6em;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 5px;
    text-decoration: none !important;
    padding: 8px;
    transition: all ease 0.7s;
  }
  
  .header-bar a:hover {
    background-color: rgb(53, 53, 48);
  }
  
  .main {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: auto;
  }
  
  .home-login {
    background-image: url("../Images/business-woman-2071342_1920.jpg");
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    align-items: flex-start;
    color: #fff;
  
    padding-left: 20px;
  }
  
  .tagline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 62px;
    font-weight: bold;
    animation: 2s slide-right;
    animation-delay: 2s;
    margin-top: 30px;
  }
  
  @keyframes slide-right {
    from {
      margin-left: -500px;
    }
  
    to {
      margin-left: 0%;
    }
  }
  .home-login h1 {
    font-size: 42px;
    margin-top: 20px;
  }
  
  .get-started-btn {
    margin-top: 55px;
    text-align: center;
    justify-content: flex-start;
  }
  
  .get-started-btn a {
    background-color: #44444e;
    border: 2px;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none !important;
    color: #fff;
    transition: 0.5s;
  }
  
  .get-started-btn a:hover {
    background-color: rgb(92, 81, 81);
  }
  
